/*------------header-------------------*/
@import url(normalize.css);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}
/*------------------Header------------------------------*/
.main-header {
  font-family: "Roboto", sans-serif;
  background-color: var(--amarillo);
  padding: 20px;
}

.logo-ml {
  width: 150px;
}
.medio {
  width: 100%;
}
.text-reg {
  text-align: center;
}
/*---------Main----------------------------*/

/*---Formu de registro---*/

main {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 10px
    ),
    repeating-linear-gradient(#94969955, #949699);
}
.crear-formu {
  padding: 20px 15px;
  border-radius: 4%;
  margin: 8% 15%;
  background-color: var(--gris-claro);
}
.control-formu {
  margin-bottom: 20px;
}
.control-formu label {
  margin-bottom: 5px;
  font-style: italic;
  display: block;
}
.checkbox{
  padding: 5px 0;
}

.control {
  width: 100%;
  padding: 8px;
}

.boton-formu {
  background-color: var(--celeste);
  font-size: 20px;
  color: var(--gris-claro);
  padding: 5px 10px;
  border-radius: 5px;
}
