@import url(normalize.css);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}
/*------------------Header------------------------------*/
.main-header {
  font-family: "Roboto", sans-serif;
  background-color: var(--amarillo);
}

.main-header-top-bar {
  display: flex;
  flex-wrap: wrap;
  
}
.logo-ml {
  width: 50%;
}

.barra-de-busqueda {
  width: 50%;
}
.medio {
  width: 100%;
}

.texto {
  font-size: 12px;
  text-align: center;
}

.cuotas {
  max-width: none;
  text-align: center;
  font-size: 17px;
  padding: 2%;
}

.main-nav {
  display: none;
}

.main-nav ul {
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  color: #080808;
  padding: 5px 10px;
}

.burger-menu {
  /* caja div*/
  color: var(--gris-claro);
  text-align: center;
  padding: 2%;
}

.burguer {
  /*icono */
  background-color: var(--celeste);
  box-sizing: content-box;
  border-radius: 10%;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-bottom: 15px;
}

/*----------------------------Main--------------------------------------------*/

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--gris-claro);
}

.titulares {
  font-size: 24px;
  margin-block: 15px;
}

.img {
  width: 100%;
}

.centro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  border-top: 1px solid var(--gris-claro);
}
.camion {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.articulos {
  padding: 15px;
  border: 15px;
  border-top: 1px solid #ebebeb;
  position: relative;
}

.precios {
  font-size: 18px;
  width: 30%;
}

.descuentos {
  font-size: 16px;
  color: var(--verde);
  width: 70%;
}
.precio-descuento {
  display: flex;
}

.wrap-dinamico {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrap-dinamico article {
  width: 80%;
}

h3 {
  font-size: 16px;
  display: none;
}
.main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30 px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

/*---------------------------FOOTER-------------------------------------------*/
.footer {
  text-align: center;
  box-sizing: border-box;
  width: 90%;
  margin-top: 15px;
}

.iconos {
  font-size: 3em;
  color: var(--celeste);
  text-align: center;
  margin-bottom: 10px;
}

.informacion {
  text-align: center;
  font-size: 15px;
  width: 70%;
  padding: 10%;
  margin: auto;
}

.contenedor-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
}

/*----------------MediaQuire---------------------*/

/*-------------------------Tablet-----------------------------------------------*/
/*header*/
@media (min-width: 400px) {
  .main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo-ml {
    width: 30%;
  }

  .barra-de-busqueda {
    width: 30%;
  }
  .cuotas {
    width: 40%;
    text-align: right;
  }

  .burger-menu {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .main-nav ul {
    display: flex;
  }

  .main-nav a {
    margin: 0 5px;
  }

  h3 {
    display: flex;
  }

  /*---------------main----------------------*/

  .articulos {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .wrap-dinamico article {
    width: 45%;
  }
}
/*----------------------------------------Laptop------------------------------------------------*/
/*header*/

@media (min-width: 769px) {
  .main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo-ml {
    width: 30%;
  }

  .barra-de-busqueda {
    width: 30%;
    text-align: center;
  }
  .cuotas {
    width: 40%;
    text-align: right;
  }

  .burger-menu {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }

  .main-nav ul {
    display: flex;
    font-size: 20px;
  }

  .main-nav a {
    margin: 0 15px;
  }

  h3 {
    display: flex;
  }

  /*main*/
  .articulos {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .wrap-dinamico article {
    width: 20%;
  }
}
/*@media (min-width: 1200px) {
  .main-header-top-bar,
  .main-nav {
    max-width: 1200px;
    margin: auto;
  }
  
}*/
