<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- etiqueta de response -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Mercado Liebre</title>
    <!-- Link de Fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <!--Link Normalize-->
    <link href="/css/normalize.css" rel="stylesheet" type="text/css" />

    <!--Link de inconos-->
    <script
      src="https://kit.fontawesome.com/fa6449574a.js"
      crossorigin="anonymous"
    ></script>

    <!--Link Css-->
    <link href="css/style.css" rel="stylesheet" type="text/css" />

  </head> 

  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
      <img src="/img/logo-mercado-liebre.svg" width="360" alt="Logo" class="logo-ml" />
      
      <div class ="barra-de-busqueda">
        <input type="text" name="Busqueda" id="Busqueda" placeholder="Busqueda" >   <i class="fa-solid fa-magnifying-glass"></i>
    </div>

      <p class="cuotas">
          <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y
          sin tarjeta de crédito  
      </p>
    </div>

      <nav class="main-nav">
        <ul class="nav-izquierdo">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="nav-derecho">
          <li>
            <a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresar <i class="fa-solid fa-right-to-bracket"></i></a>
          </li>
          <li>
            <a href="#"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>

      <div class="burger-menu">
        <i class="fas fa-bars burguer"></i>
      </div>

      <section >
        <img src="/img/img-home-banner.jpg" alt="Banner de ofertas" class="medio"/>
      </section>
    </header>

    <main >
      <div >
        <h2 class="titulares">Basado en tu última visita</h2>
      </div>

      <section class="wrap-dinamico">
      <article class="centro">
          <div >
          <img  src="./img/img-cafetera-moulinex.jpg" whith= "360" alt="Cafetera" class="img"/>
        </div>

        <section class="articulos">
          <div class="camion">
            <i class="fa-solid fa-truck" ></i>
          </div>
          <div class="precio-descuento">
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
        </div>
          <h3>Cafetera Moulinex</h3>
        </section>
      </article>

      <article class="centro">
          <div>
          <img src="./img/img-macbook-pro-2019.jpg" whith= "360" alt="MacBook" class="img"/>
        </div>

        <section class="articulos">
          <div>
            <i class="fa-solid fa-truck"></i>
          </div>
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
          <h3>MacBook Pro 2019</h3>
        </section>
      </article>

      <article class="centro">
          <div>
          <img src="./img/img-samsung-galaxy-s10.jpg" whith= "360" alt="Samsung Galaxy" class="img"/>
        </div>
        <section class="articulos">
          <div>
            <i class="fa-solid fa-truck"></i>
          </div>
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
          <h3>Samsung Galaxy S10</h3>
        </section>
      </article>

      <article class="centro">
          <div>
            <img src="./img/img-tv-samsung-smart.jpg" whith= "360" alt="SmartTv Samsung" class="img" />
          </div>

          <section class="articulos"> 
            <div>
              <i class="fa-solid fa-truck"></i>
            </div>
          <p class="precios">$23.200</p>
          <p class="descuentos">5% OFF</p>
          <h3>SmartTv Samsung 43"</h3>
        </section>
      </article>
      </section>

    <div>
      <h2 class="titulares">Ofertas</h2>
    </div> 

      <section class="wrap-dinamico">
      <article class="centro">
          <div>
          <img src="./img/img-cafetera-moulinex.jpg" whith= "360" alt="Cafetera" class="img" />
        </div>

        <section class="articulos">
          <div>
            <i class="fa-solid fa-truck"></i>
          </div>
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
          <h3>Cafetera Moulinex</h3>
        </section>
      </article>  

      <article class="centro">
          <div>
          <img src="./img/img-macbook-pro-2019.jpg"  whith= "360"alt="MacBook" class="img" />
        </div>

        <section class="articulos">
          <div>
            <i class="fa-solid fa-truck"></i>
          </div>
          <p class="precios">$230.000</p>
          <p class="descuentos">10% OFF</p>
          <h3>MacBook Pro 2019</h3>
        </section>
      </article>

      <article class="centro">
        <div>
          <img src="./img/img-samsung-galaxy-s10.jpg" whith= "360" alt="Samsung Galaxy" class="img"/>
        </div>

        <section class="articulos">
          <div>
            <i class="fa-solid fa-truck"></i>
          </div>
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
          <h3>Samsung Galaxy S10</h3>
        </section>
      </article>

      <article class="centro">
          <div>
          <img src="./img/img-tv-samsung-smart.jpg" whith= "360" alt="SmartTv Samsung" class="img" />
        </div>

        <section class="articulos">
          <div>
            <i class="fa-solid fa-truck"></i>
          </div>
          <p class="precios">$23.700</p>
          <p class="descuentos">5% OFF</p>
          <h3>SmartTv Samsung 43"</h3>
        </section>
      </article>
      </section>
    </main>

    <footer>
      <section>
        <section>
          <div class="iconos">
            <i class="fa-solid fa-credit-card"></i>
          </div>
          <section class="informacion">
            <h4 class="titulares">Pagá con tarjeta o en efectivo</h4>
            <p>
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
              efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
          </section>
        </section>

        <section>
          <div class="iconos">
            <i class="fa-solid fa-gift"></i>
          </div>
          <section class="informacion">
            <h4 class="titulares">Envío gratis desde $ 2.500</h4>
            <p>
              Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
              miles de productos. Es un beneficio de Mercado Puntos.
            </p>
          </section>
        </section>

        <section>
          <div class="iconos">
            <i class="fa-solid fa-user-shield"></i>
          </div>
          <section class="informacion">
            <h4 class="titulares">Seguridad, de principio a fin</h4>
            <p>
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
              puedas hacer, porque estás siempre protegid@.
            </p>
          </section>
        </section>

        <div>
          <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </div>
      </section>
    </footer>
  </body>
</html>
