<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regitrate</title>
    <!-- Link de Fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <!--Link Normalize-->
    <link href="/css/normalize.css" rel="stylesheet" type="text/css" />

    <!--Link de inconos-->
    <script
      src="https://kit.fontawesome.com/fa6449574a.js"
      crossorigin="anonymous"
    ></script>
    <!--Link de fondo-->
    
    <!--Link Css-->
    <link href="css/style-register.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header class="main-header">
        <div class="main-header-top-bar">
        <img src="/img/logo-mercado-liebre.svg" width="360" alt="Logo" class="logo-ml"/>

        <section class="text-reg">
          <h1>Registrarse o iniciar secion</h1>
      </section>

      </header>
  <main>

        <section>
      <form action="/register" method="POST" class="crear-formu">
        <div class="control-formu">
          <label>Nombre </label>
          <input type="text" name="Nombre" id="Nombre" placeholder="Nombre" required class="control"/>
        </div>
        <div class="control-formu">
          <label>Apellido</label>
          <input type="text" name="Pellido" id="Apellido" placeholder="Apellido" required class="control"/>
        </div>
        <div class="control-formu">
        <label>Nombre de usuari@</label>
          <input type="text" name="Nombre" id="Nombre" placeholder="Usuario" required class="control"/>
        </div>
        <div class="control-formu">
          <label>Fecha de Nacimiento</label>
          <input type="date" name="Fecha de Nacimiento"  id="Fecha"  value="aaaa-mm-dd"  required class="control"/>
        </div>
        <div class="control-formu">
          <label>Domicilio</label>
          <input type="text" name="Domicilio"  id="Domicilio"  placeholder="Calle N°" required class="control"/>
          <select name="Provincia">
          <option value= "Bs As">Buenos Aires</option>
          <option value="Cor"> Cordoba</option> 
          <option value= "Mis">Misiones</option> 
          <option value= "Neu"> Neuquen</option> 
          <option value= "Sal"> Salta</option> 
          <option value= "Pam">La pampa</option>  
          </select>
        </div>
        <div class="control-formu">
          <label for="Tipo de usuario">Perfil del usuario</label>
          <input type="checkbox" name="Comprar"> Comprar
          <input type="checkbox" name="Vender"> Vender
        </div>
        <div>
          <label for="Intereses" class="control-formu">Intereses</label>
          <input type="checkbox" name="Electro"> Electro
          <input type="checkbox" name="Moda" > Moda
          <input type="checkbox" name="Hogar"> Hogar
          <input type="checkbox" name="Juguetería" > Juguetería
          <input type="checkbox" name="Vida sana" > Vida sana
          </div>
          <br>
        <div class="control-formu">
          <label>Foto de Usuario</label>
          <input type="file" name="Foto"  accept=".jpg" />
        </div>
        <div class="control-formu"> 
          <label>Correo Electronico</label>
          <input type="email" name="email" id="email" placeholder="qwerty@.com" required class="control"/>
        </div>
        <div class="control-formu">
          <label>Contraceña</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="control-formu">
          <label>Confirmar Contraceña</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="control-formu">
        <div>
          <button type="submit" class="boton-formu"> Borrar </button>
          <button type="submit" class="boton-formu"> <a href="/">Enviar</a> </button>
          
        </div>
      </form>
    </section>
  </main>
  </body>
</html>
