<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regitrate</title>
    <!-- Link de Fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <!--Link Normalize-->
    <link href="/css/normalize.css" rel="stylesheet" type="text/css" />

    <!--Link de inconos-->
    <script
      src="https://kit.fontawesome.com/fa6449574a.js"
      crossorigin="anonymous"
    ></script>
    <!--Link de fondo-->
    
    <!--Link Css-->
    <link href="css/style-register.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
     <a href="/">
        <img src="/img/logo-mercado-liebre.svg" width="360" alt="Logo" class="logo-ml" />
      </a>
        <div class ="barra-de-busqueda">
          <input type="text" name="Busqueda" id="Busqueda" placeholder="Busqueda" >   <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    
        <p class="cuotas">
            <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito  
        </p>
      </div>
    
        <nav class="main-nav">
          <ul class="nav-izquierdo">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
    
          <ul class="nav-derecho">
            <li>
              <a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a>
            </li>
            <li>
              <a href="/login">Ingresar <i class="fa-solid fa-right-to-bracket"></i></a>
            </li>
            <li>
              <a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
            </li>
          </ul>
        </nav>
    
        <div class="burger-menu">
          <i class="fas fa-bars burguer"></i>
        </div>
        <section>
          <img
            src="/img/img-home-banner.jpg"
            alt="Banner de ofertas"
            class="medio"
          />
        </section>
        
      </header>
  <main>

        <section class="contenedor-formu">
      <form action="/register" method="POST" class="crear-formu">
        <div class="control-formu">
          <input type="text" name="Nombre" id="Nombre" placeholder="Nombre" required class="control"/>
        </div>
        <div class="control-formu">
          <input type="text" name="Apellido" id="Apellido" placeholder="Apellido" required class="control"/>
        </div>
        <div class="control-formu">
          <input type="text" name="Nombre de usuari@" id="Nombre de usuari@" placeholder="Nombre de usuari@" required class="control"/>
        </div>
        <div class="control-formu">
          <label>Fecha de Nacimiento</label>
          <input type="date" name="Fecha de Nacimiento"  id="Fecha"  value="aaaa-mm-dd"  required class="control"/>
        </div>
        <div class="control-formu">
          <input type="text" name="Domicilio"  id="Domicilio"  placeholder="Calle N°" required class="control"/>
          <select name="Provincia">
          <option value= "Bs As"> Buenos Aires</option>
          <option value="Cor"> Cordoba</option> 
          <option value= "Mis"> Misiones</option> 
          <option value= "Neu"> Neuquen</option> 
          <option value= "Sal"> Salta</option> 
          <option value= "Pam"> La pampa</option>  
          </select>
        </div>
        <div class="control-formu">
          <label for="Tipo de usuario">Perfil del usuario</label>
          <input type="radio" name="Comprar">   Comprar
          <input type="radio" name="Vender">   Vender
        </div>
        <div>
          <label for="Intereses" class="control-formu">Intereses</label>
          <input type="checkbox" name="Electro"> Electro
          <input type="checkbox" name="Moda" > Moda
          <input type="checkbox" name="Hogar"> Hogar
          <input type="checkbox" name="Juguetería" > Juguetería
          <input type="checkbox" name="Vida sana" > Vida sana
          </div>
          <br>
        <div class="control-formu">
          <label>Foto de Usuario</label>
          <input type="file" name="Foto"  accept=".jpg" />
        </div>
        <div class="control-formu"> 
          <label>Correo Electronico</label>
          <input type="email" name="email" id="email" placeholder="qwerty@.com" required class="control"/>
        </div>
        <div class="control-formu">
          <label>Contraseña</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="control-formu">
          <label>Confirmar Contraseña</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="control-formu">
        <div>
          <button type="submit" class="boton-formu"> Borrar </button>
          <button type="submit" class="boton-formu"> <a href="/">Enviar</a> </button>
          
        </div>
      </form>
    </section>
  </main>
  </body>
</html>
